@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Karla:ital,wght@0,200;0,300;0,400;0,700;0,800;1,200;1,300;1,400&display=swap');
.Signup-page{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .circle{
        top: 0;
        left: 0;
        position: absolute;
        clip-path: circle(50% at left);
        background: rebeccapurple;
        width: 300px ;
        height: 300px;
    }
    .circle2{
        top: 0;
        right: 0;
        position: absolute;
        clip-path: circle(50% at right);
        background: rebeccapurple;
        width: 300px ;
        height: 300px;
    }
    .circle3{
        bottom: 0;
        right: 0;
        position: absolute;
        clip-path: circle(50% at right);
        background: rebeccapurple;
        width: 300px ;
        height: 300px;
    }
    .circle4{
        bottom: 0;
        left: 0;
        position: absolute;
        clip-path: circle(50% at left);
        background: rebeccapurple;
        width: 300px ;
        height: 300px;
    }
    .form{
        z-index: 1;
        border: rebeccapurple 10px solid;
        background: black;
        border-radius: 30px;
        width: 70%;
        height: 100%;
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 100%;
            height: 100%;
        }
        input{
            outline: none;
            border: none;
            border-radius: 30px;
            padding: 20px 30px;
        }
        input:hover{
            transform: scale(1.1);
            transition: 1s;
        }
        .errmsg{
            color: rebeccapurple;
            font-family: 'Karla', sans-serif;
            font-size: 1rem;
        }
        ::placeholder{
            font-family: 'Karla', sans-serif;
            font-size: 1rem;
        }
    }
    .sign-up{
        z-index: 1;
        background: black;
        border-radius: 30px;
        border: rebeccapurple 10px solid;
        width: 70%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h2{
        font-size: 1rem;
        color: white;
        font-family: 'Karla', sans-serif;
    }
    button{
        cursor: pointer;
        font-family: 'Bebas Neue', cursive;
        font-size: 1.5rem;
        border: none;
        outline: none;
        border-radius: 30px;
        padding: 20px 30px;
    }
    button:hover{
        transform: scale(1.1);
        transition: 1s;
    }
}